.about-header-container {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
}

.profile-img {
  width: 250px;
  height: 250px;
}

.about-title-container {
  width: 80%;
  display: flex;
  justify-content: center;
}

.about-title {
  font-family: 'Questrial', sans-serif;
  font-size: 60px;
}