.contact-main {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.face {
  font-family: 'Questrial', sans-serif;
  font-size: 100px;
  margin-bottom: 20px;
  color: #414C4B
}

.face-text {
  font-family: 'Alegreya', serif;
  /* color: #414C4B; */
  font-size: 20px;
}

.blue-text {
  color: blue;
}

.contact-end {
  font-family: 'Alegreya', serif;
  margin-top: 60px;
  font-size: 20px;
}